<img src="assets/profilepic.JPG" style="position: fixed; opacity: 0.1; height: 100%; width: 100%;">
<div class="my-portfolio layout-column">
    <div>
        <div class="myName">
            <span>Ranga RR </span>
            <span [ngStyle]="{'color': appColor}">Eragamreddy</span>
        </div>
    </div>
    <div class="layout-column flex">       
        <div class="flex-20" style="min-height: 100px;">
            <div [ngStyle]="{'color': appColor}" class="layout-row layout-align-space-between-center" style="height: 100%; width: 100%; border-bottom: 1px solid lightgrey;">
                <a md-raised-button class="my-button" routerLink="/house" routerLinkActive="active"> About </a>
                <a md-raised-button class="my-button" routerLink="/stark" routerLinkActive="active"> Experience </a>
                <a md-raised-button class="my-button" [routerLink]="['/baratheon',gridHeight, gridWidth]" routerLinkActive="active"> Skills </a>
                <a md-raised-button class="my-button" routerLink="/targeryn" routerLinkActive="active"> Education </a>
                <a md-raised-button class="my-button" routerLink="/lannister" routerLinkActive="active"> Contact </a>
            </div>
        </div>
        <div #activeRoute class="flex">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>