:host, .experience-details {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.experience-details .eachSection {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    margin: 10px 0;
}

.experience-details .headerSection {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
}

.experience-details .headerSubSection {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.experience-details .contentSection {
    font-size: 18px;
}

.experience-details .contentSection .subSection {
    padding: 10px;
}

.experience-details .contentSection .dashed {
    margin: 5px;
    font-size: 14px;
    list-style-type: none;
}

.experience-details .contentSection .dashed .exp-links {
    position: absolute;
}

.experience-details .contentSection .dashed > li{
    padding: 3px;
}

.experience-details .contentSection .dashed > li::before {
    content: "-";
    padding-right: 15px;
}